{% extends 'tmpl/layout.html' %}

{% block title %}Client{% endblock %}
{% block breadcrumb %}Client{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}


{% block content %}
<h2>Liste des Continents</h2>

<h3><li><a href="/Afrique">Afrique</a></li></h3>
<h3><li><a href="/Amerique">Amérique</a></li></h3>
<h3><li><a href="/Asie">Asie</a></li></h3>
<h3><li><a href="/Europe">Europe</a></li></h3>

{% endblock %}




