{% extends 'tmpl/layout.html' %}

{% block title %}Client{% endblock %}
{% block breadcrumb %}Client{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}


{% block content %}

<h4>Bienvenue sur le site de JoJo voyages</h4>

<h2>Liste des Continents</h2>

<h3><li><a href="/Afrique">Afrique</a></li></h3>
<h3><li><a href="/Amerique">Amérique</a></li></h3>
<h3><li><a href="/Asie">Asie</a></li></h3>
<h3><li><a href="/Europe">Europe</a></li></h3>

<link rel="stylesheet" href="./views/css/im.css">
<div class="ima2">
 <img style="height: 250px; width: auto;" src="https://cdn-elle.ladmedia.fr/var/plain_site/storage/images/love-sexe/psycho/phobies/aviophobie-tout-savoir-sur-la-peur-de-l-avion-3928431/94871221-1-fre-FR/Aviophobie-tout-savoir-sur-la-peur-de-l-avion.jpg" alt="">
</div>

{% endblock %}




