{% extends 'tmpl/layout.html' %}
{% block page %}
<body>
    <div class="main-content">
        Accueil
    </div>
    <h5>
        JoJo Voyages vous amène les bonnes voyages à faire au meilleur prix!
    </h5>
    <p>
        Vous allez trouver des voyages selon les différents continents. Les meilleurs prix là!
    </p>

    <img src="https://wallpaperaccess.com/full/1664865.jpg" alt="" style="width: auto; height: 200px;">
    <img src="https://wallpapercave.com/wp/wp4639932.jpg" alt="" style="width: auto; height: 200px;">
    <img src="https://www.hotelvictoria.ch/_files/_media/1/Lausanne/lausanne_1.jpg" alt="" style="width: auto; height: 200px;">

</body>
{% endblock %}