{% extends 'tmpl/layout.html' %}

{% block title %}Client{% endblock %}
{% block breadcrumb %}Client{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}


{% block content %}
<h2>Liste des Continents</h2>

<h3><li><a href="./continents/Afrique.html">Afrique</a></li></h3>
<h3><li><a href="./continents/Amerique.html">Amérique</a></li></h3>
<h3><li><a href="./continents/Asie.html">Asie</a></li></h3>
<h3><li><a href="./continents/Europe.html">Afrique</a></li></h3>

{% endblock %}




