{% extends 'tmpl/layout.html' %}

{% block title %}Client{% endblock %}
{% block breadcrumb %}Client{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}

<form>
{% block content %}
<h2>Liste de voyages en Afrique</h2>

<p>Choisir un pays</p>
<select name="name_pays" id="id_pays">
{% for row in items %}
            <option>{{ row.name_pays}}</option>
{% endfor %}
</select>

<p>Choisir une ville</p>
<select name="ville" id="id_ville">
{% for row in items %}
            <option>{{ row.ville }}</option>
{% endfor %}
</select>
<br /><input type="submit" name="ok" id="ok" value="Envoyer" />
</form>
   

{% endblock %}