{% extends 'tmpl/layout.html' %}

{% block title %}Client{% endblock %}
{% block breadcrumb %}Client{% endblock %}
{% block styles %}
<link rel="stylesheet" href="css/default.css">
{% endblock %}
{% block scripts %}
{% endblock %}


{% block content %}
<h2>Liste de voyages en Europe</h2>

<table id="myTab" class="table table-striped">
    <thead>
      <tr>
        <th>Pays</th>
        <th>Ville</th>
      </tr>
    </thead>
    <tbody>
    {% for row in items %}
        <tr>
            <td>{{ row.id_pays }}</td>
            <td>{{ row.ville }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}